# Database Configuration
DB_NAME=url_shortener
DB_USER=symfony
DB_PASSWORD=symfony
DB_ROOT_PASSWORD=root
DB_PORT=3306
DB_HOST=mysql
DB_VERSION=8.4

# Docker User Configuration
USER_UID=1000
USER_GID=1000

# Default Ports
NGINX_PORT=8080
MYSQL_PORT=3307

# Logging Configuration
LOG_MAX_SIZE=10m
LOG_MAX_FILES=3

# Symfony Application Configuration
APP_ENV=dev
APP_SECRET=devsecret123456789012345678901234

# Database
DATABASE_URL=mysql://symfony:symfony@mysql:3306/url_shortener?serverVersion=8.4
DEFAULT_URI=http://localhost:8080

# Messenger
MESSENGER_TRANSPORT_DSN=doctrine://default?queue_name=generate_links